<div class="w-full">
  <p-carousel
    [value]="imagenes"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="3000"
  >
    <ng-template let-imagen pTemplate="item">
      <img class="" width="100%" height="600px" [src]="imagen" alt="Imagen {{ imagen }}" />
    </ng-template>
  </p-carousel>
</div>

<div class="mx-8">
  <h1>Novedades</h1>
  <div class="flex lg:flex-row lg:flex-wrap lg:justify-content-start md:flex-column md:justify-content-center">
      <div *ngFor="let datos of card" class="card flex justify-content-center mr-3 mb-3" style="flex-basis: calc(33.33% - 1rem);">
        <p-card class="pt-2 border-round" [header]="datos.titulo" subheader="Precio: " [style]="{ width: '350px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://st.depositphotos.com/1016440/2534/i/450/depositphotos_25344733-stock-photo-sunrise-at-the-beach.jpg" />
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                quas!
            </p>
            <ng-template pTemplate="footer">
                <p-button label="Save" icon="pi pi-check"></p-button>
                <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
            </ng-template>
        </p-card>
      </div>
  </div>
</div>
