<div class="w-full">
  <p-carousel
    [value]="imagenes"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="3000"
  >
    <ng-template let-imagen pTemplate="item">
      <img class="" width="100%" height="600px" [src]="imagen" alt="Imagen {{ imagen }}" />
    </ng-template>
  </p-carousel>
</div>
<div class="mx-8">
  <h1>Novedades</h1>
  <div class="flex flex-row">
      <div class="card flex justify-content-center shadow-8 mr-3 ">
        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                quas!
            </p>
            <ng-template pTemplate="footer">
                <p-button label="Save" icon="pi pi-check"></p-button>
                <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
            </ng-template>
        </p-card>
      </div>
      <div class="card flex justify-content-center">
        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                quas!
            </p>
            <ng-template pTemplate="footer">
                <p-button label="Save" icon="pi pi-check"></p-button>
                <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
            </ng-template>
        </p-card>
      </div>
      <div class="card flex justify-content-center">
        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                quas!
            </p>
            <ng-template pTemplate="footer">
                <p-button label="Save" icon="pi pi-check"></p-button>
                <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
            </ng-template>
        </p-card>
    </div>
  </div>
</div>
