<div class="m-3 flex justify-content-center">
  <div class="w-10 px-5 pb-5 bg-white shadow-6 border-round">
    <h2>Crear cuenta</h2>
    <form [formGroup]="myForm" class="formgrid grid">

      <div class="field col-12 md:col-6">
        <label for="firstname6">Nombre</label>
        <input formControlName="name" id="firstname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <span *ngIf="isValidField('name')">Nombre invalido</span>
      </div>

      <div class="field col-12 md:col-6">
        <label for="lastname6">Primer apellido</label>
        <input formControlName="lastnameFather" id="lastname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <span *ngIf="isValidField('lastnameFather')">Apellido invalido</span>
      </div>

      <div class="field col-12 md:col-6">
        <label class="mb-1" for="">Segundo apellido</label>
        <input formControlName="lastnameMother" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" type="text" required>
        <span *ngIf="isValidField('lastnameMother')">Apellido invalido</span>
      </div>

      <div class="field col-12 md:col-6">
        <label class="mb-1" for="">Genero</label>
        <select class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" name="" id="">
          <option value="">M</option>
          <option value="">F</option>
        </select>
      </div>

      <div class="field col-12 md:col-6">
        <label class="mb-1" for="">Fecha de nacimiento</label>
        <input formControlName="date" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" type="date" required>
        <span *ngIf="isValidField('date')">Valor invalido</span>
      </div>

      <div class="field col-12 md:col-6">
        <label class="mb-1" for="">Ciudad</label>
        <select class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" name="" id="">
          <option value="">Platon sanchez</option>
          <option value="">Huejutla</option>
        </select>
      </div>

      <div class="field col-12 md:col-6">
        <label class="mb-1" for="">Direccion</label>
        <input formControlName="address" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" type="text" required>
        <span *ngIf="isValidField('address')">Campo invalido</span>
      </div>

      <div class="field col-12 md:col-6">
        <label class="mb-1" for="">Codigo postal</label>
        <input formControlName="cp" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" type="number" required>
        <span *ngIf="isValidField('cp')">Codigo postal invalido</span>
      </div>

      <div class="field col-12 md:col-6">
        <label class="mb-1" for="">Correo electronico</label>
        <input formControlName="email" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" type="email" required>
        <span *ngIf="isValidField('email')">Correo electronico invalido</span>
      </div>

      <div class="field col-12 md:col-6">
        <label class="mb-1" for="">Numero de telefono</label>
        <input formControlName="phone" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" type="number" required>
        <span *ngIf="isValidField('phone')">Numero de telefono invalido</span>
      </div>

      <div class="field col-12 md:col-6">
        <label class="mb-1" for="">Nombre de usuario</label>
        <input formControlName="username" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" type="text" required>
        <span *ngIf="isValidField('username')">Nombre de usuario invalido</span>
      </div>

      <div class="field col-12 md:col-6">
        <label class="mb-1" for="">Ingrese una contraseña</label>
        <input formControlName="password" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" type="password" required>
        <span *ngIf="isValidField('password')">Contraseña invalida</span>
      </div>

      <div class="field col-12 md:col-6">
        <label class="mb-1" for="">Repita la contraseña</label>
        <input formControlName="password2" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" type="password" required>
        <span *ngIf="isValidField('password2')">Contraseña invalida</span>
      </div>

      <div class="field col-12 md:col-6">
        <label class="mb-1" for="">Elija una pregunta secreta</label>
        <select class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" name="" id="">
          <option value="">¿Color favorito?</option>
          <option value="">¿Nombre de tu mascota?</option>
          <option value="">¿Pelicula favorita?</option>
          <option value="">¿Fruta favorita?</option>
        </select>
      </div>

      <div class="field col-12 md:col-6 w-full">
        <label class="mb-1" for="">Respuesta</label>
        <input formControlName="respuesta" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" type="text" required>
        <span *ngIf="isValidField('respuesta')">Valor invalido</span>
      </div>

    </form>
    <div>
      <p-button styleClass="p-button-secondary" label="Crear cuenta"></p-button>
      <p-button routerLink="/user/login" styleClass="p-button-warning ml-2" label="Ya tengo una cuenta"></p-button>
    </div>
  </div>
</div>
