<div class="m-3 flex justify-content-center">
 <div class="md:w-4 px-5 pb-5 bg-white shadow-6 border-round" *ngIf="!validStatus">
  <h2>Recuperar contraseña</h2>
   <form [formGroup]="formEmail" (submit)="getData()">
     <div class="field col-12 md:col-6 w-full">
      <label for="">Correo electronico</label>
      <input formControlName="email" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" type="email">
      <span *ngIf="isValidField('email')">Correo invalido</span>
    </div>
    <div class="mt-3">
      <p-button type="submit" styleClass="mr-2 p-button-secondary" [disabled]="validButton()" label="Recuperar contraseña"></p-button>
      <p-button routerLink="/user/login" styleClass="mr-2" label="Cancelar"></p-button>
    </div>
   </form>
 </div>

 <div *ngIf="validStatus" class="px-5 pb-5 bg-white shadow-6 border-round">
  <h2>Recuperar contraseña</h2>
    <form *ngIf="!validCode" [formGroup]="formCode" (submit)="validatedCode()">
      <div class="flex flex-column">
        <label class="" for="">Ingrese el codigo que se envio a su correo</label><br>
        <p-password [inputStyleClass]="'text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary xl:w-18rem'" [feedback]="false" formControlName="code" [toggleMask]="true" class="w-1"></p-password>
        <span *ngIf="isValidFieldCode('code')">Contraseña invalida</span>
      </div>
      <div class="mt-3">
        <p-button type="submit" styleClass="mr-2 p-button-secondary" [disabled]="validButtonCode()" label="Verificar"></p-button>
      </div>
    </form>


    <form *ngIf="validCode" [formGroup]="formQuestion" (submit)="updatePassword()">
      <div class="field col-12 md:col-6 w-full">
        <label for="">Pregunta secreta</label>
        <select formControlName="question" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" name="" id="">
          <option value="" disabled selected>Seleccione una pregunta</option>
          <option value="color">¿Color favorito?</option>
          <option value="mascota">¿Nombre de tu mascota?</option>
          <option value="pelicula">¿Pelicula favorita?</option>
          <option value="fruta">¿Fruta favorita?</option>
        </select>
        <span *ngIf="isValidFieldQuestion('question')">Seleccione una opcion</span>
      </div>
      <div class="field col-12 md:col-6 w-full">
        <label for="">Respuesta</label>
        <input formControlName="respuesta" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" type="text">
        <span *ngIf="isValidFieldQuestion('respuesta')">Respuesta Invalida</span>
      </div>
      <div class="mt-3">
        <p-button type="submit" styleClass="mr-2 p-button-secondary" [disabled]="formQuestion.invalid" label="Enviar"></p-button>
      </div>
    </form>

    <form [formGroup]="formNewPassword" (submit)="updatePassword()">
      <div class="flex flex-column">
        <label class="" for="">Ingrese una contraseña</label><br>
        <p-password [inputStyleClass]="' text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary xl:w-18rem'" formControlName="password" styleClass="width: 100%;" [toggleMask]="true">
          <ng-template pTemplate="footer">
              <p-divider></p-divider>
              <p class="mt-2">Sugerencias</p>
              <ul class="pl-2 ml-2 mt-0" style="line-height: 1">
                  <li>Al menos una minúscula</li>
                  <li>Al menos una mayuscula</li>
                  <li>Al menos un numero</li>
                  <li>Al menos un caracter especial</li>
                  <li>Minimo 8 caracteres</li>
              </ul>
          </ng-template>
      </p-password>
      <span *ngIf="isValidFieldPassword('password')">Contraseña invalida</span>
      </div>

      <div class="flex flex-column">
        <label class="" for="">Repita la contraseña</label><br>
        <p-password [inputStyleClass]="'text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary xl:w-18rem'" [feedback]="false" formControlName="confirmPassword" [toggleMask]="true" class="w-1"></p-password>
        <span *ngIf="isValidFieldPassword('confirmPassword')">Contraseña invalida</span>
      </div>
      <div class="mt-3">
        <p-button type="submit" styleClass="mr-2 p-button-secondary" [disabled]="validUpdate()" label="Actualizar contraseña"></p-button>
      </div>
    </form>
  </div>


</div>
