<div class="m-5">

  <div class="flex flex-column md:flex-row border-round  bg-white py-3 mb-3">
    <div>
      <img class="w-10rem" src="https://http2.mlstatic.com/D_955342-MLM54956132285_042023-N.jpg" alt="">
    </div>
    <div class="ml-5 flex flex-column justify-content-center w-full md:w-6">
      <h2>Pantalon negro</h2>
      <p class="text-green-500">Entregado</p>
      <p>LLego el 15 de julio</p>
    </div>

    <div class="flex flex-column justify-content-center md:align-items-end ml-4 w-full pr-4">
      <p-button label="Ver detalles" styleClass="p-button-secondary mb-2"></p-button>
      <p-button label="Ver mensajes" styleClass="p-button-primary"></p-button>
    </div>
  </div>

  <div class="flex flex-column md:flex-row border-round  bg-white py-3 mb-3">
    <div>
      <img class="w-10rem" src="https://http2.mlstatic.com/D_955342-MLM54956132285_042023-N.jpg" alt="">
    </div>
    <div class="ml-5 flex flex-column justify-content-center w-full md:w-6">
      <h2>Pantalon negro</h2>
      <p class="text-green-500">Entregado</p>
      <p>LLego el 15 de julio</p>
    </div>

    <div class="flex flex-column justify-content-center md:align-items-end ml-4 w-full pr-4">
      <p-button label="Ver detalles" styleClass="p-button-secondary mb-2"></p-button>
      <p-button label="Ver mensajes" styleClass="p-button-primary"></p-button>
    </div>
  </div>

  <div class="flex flex-column md:flex-row border-round  bg-white py-3 mb-3">
    <div>
      <img class="w-10rem" src="https://http2.mlstatic.com/D_955342-MLM54956132285_042023-N.jpg" alt="">
    </div>
    <div class="ml-5 flex flex-column justify-content-center w-full md:w-6">
      <h2>Pantalon negro</h2>
      <p class="text-green-500">Entregado</p>
      <p>LLego el 15 de julio</p>
    </div>

    <div class="flex flex-column justify-content-center md:align-items-end ml-4 w-full pr-4">
      <p-button label="Ver detalles" styleClass="p-button-secondary mb-2"></p-button>
      <p-button label="Ver mensajes" styleClass="p-button-primary"></p-button>
    </div>
  </div>



</div>
